/**
 * Twenty'em theme options style.
 */

#t-em-setting .form-table{
	margin-top: 1.5em;
	border-collapse: separate;
}
#t-em-setting tr{}
#t-em-setting th,
#t-em-setting td{
	display: block;
	width: auto;
	overflow: hidden;
}
#t-em-setting td{
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-color: #dfdfdf;
	background: #fff;
	padding: 10px 10px 11px 14px;
	border-radius: 0 0 3px 3px;
}
#t-em-setting th{
	background: #f5f5f5;
	border:solid 1px #dfdfdf;
	font-size: 1em;
	padding: 10px 10px 11px 14px;
	cursor: pointer;
	border-radius: 3px;
}
#t-em-setting th:hover{
	border-color: #999;
}
#t-em-setting .empty-option{
	height: .5em;
}
#framework-options .framework{
	clear: both;
	display: block;
}
#t-em-setting label{
	margin: 10px 30px 5px 2px;
	display: block;
}
#t-em-setting label.description{
	display: block;
	float: left;
}
#t-em-setting label.single-option{
	clear: both;
}
#t-em-setting span.unit{
	background: #eee;
	border: 1px solid #dfdfdf;
	display: inline !important;
	margin-left: -3px;
	padding: 3px;
	border-radius: 3px;
}
#t-em-setting .image-radio-option-group,
#t-em-setting .text-radio-option-group{
	clear: both;
}
#t-em-setting .image-radio-option span{
	display: block;
	width: 136px;
}
#t-em-setting .text-option span{
	display: block;
}
#t-em-setting .sub-layout{
	float: left;
	width: 100%;
}
#t-em-setting .sub-extend{
	clear: both;
	overflow: hidden;
}
#t-em-setting .text-option.thumbnail{
	display: inline-block;
	margin-right: 15px;
}
#t-em-setting figure{
	margin: 10px 0;
}
#t-em-setting .social{
	display: inline-block;
	margin: 5px;
}
#t-em-setting #widgets-front-page label,
#t-em-setting #social-network-options label{
	margin-left: 0;
	margin-right: 0;
}
#t-em-setting #text_widget_one,
#t-em-setting #text_widget_two,
#t-em-setting #text_widget_three,
#t-em-setting #text_widget_four{
	display: inline-block;
	width: 50%;
}
#t-em-setting .row .layout.text-option.front-page{
	padding-right: 15px;
}
#t-em-setting .row .sub-extend.option-group:last-child .layout.text-option.front-page{
	padding-left: 15px;
}


/**
 * New setting
 */

#t-em-setting .panel-body *{
	transition: all 250ms ease 0s;
}

#t-em-setting .alert{
	border-left: 4px solid;
	padding: 10px;
	margin: 10px 0 15px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	background: none repeat scroll 0% 0% #f7f7f7;
}
#t-em-setting .alert-info{
	border-left-color: #0073AA;
}
#t-em-setting .alert-critical{
	border-left-color: #DD3D36;
}
#t-em-setting .option-group header{
	font-weight: bold;
}
#t-em-setting .option-group:not(:last-child){
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
#t-em-setting #widgets-front-page .option-group:last-child,
#t-em-setting #the-excerpt .option-group:last-child{
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}
#t-em-setting .head-radio-option,
#t-em-setting .input-image-radio-option{
	display: none;
}
#t-em-setting .radio-image img{
	padding: 3px;
	border: 3px solid #f7f7f7;
	border-radius: 3px;
}
#t-em-setting .radio-image:hover img{
	border-color: #dfdfdf;
}
#t-em-setting .radio-image:active img,
#t-em-setting .radio-image-active:hover img,
#t-em-setting .radio-image-active img{
	border-color: #0073AA;
}
#t-em-setting #widgets-front-page{

}
#t-em-setting .headline{
	padding: 3px 8px;
	font-size: 1.3em;
	line-height: 100%;
	height: 1.7em;
	outline: 0px none;
	width: 99%;
}
#t-em-setting pre{
	background: #f5f5f5;
	padding: 15px;
}
#t-em-setting .dl-horizontal dt{
	float: left;
	width: 220px;
	overflow: hidden;
	clear: left;
	text-align: left;
	-ms-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 20px;
}
#t-em-setting .dl-horizontal dd{
	margin-left: 240px;
	min-height: 20px;
}
#t-em-setting #debug-options .tab-heading:before{
	display: none;
}

/** jQuery UI *************************************************************************************/
/* Accordion */
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}

/* Tabs */
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
	border-bottom: solid 3px #dfdfdf;
	overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em -1px 0;
	background: #f5f5f5;
	padding: 0;
	white-space: nowrap;
	border-top: 3px solid #fff;
}
.ui-tabs .ui-tabs-nav li:hover{
	border-top: 3px solid #dfdfdf;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #dfdfdf;
	border-top: 3px solid #0073AA;
}
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:before{
	font-family: "dashicons";
	content: "\f147";
	font-size: 0.8em;
	line-height: 1em;
	position: absolute;
	top: 2px;
	right: 2px;
	border: solid 2px #dfdfdf;
	color: #f5f5f5;
	border-radius: 3px;
	background: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor:before{
	font-family: "dashicons";
	content: "\f147";
	border: solid 2px #0073AA;
	color: #0073AA;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .8em 1.5em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 0;
	background: none;
}

/* Date Picker */
#ui-datepicker-div.ui-widget-content{
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
	cursor: default;
}
.ui-datepicker .ui-datepicker-header{
	position: relative;
	padding: .2em 0;
	border: 1px solid #aaa;
	background: #ddd;
}
.ui-datepicker .ui-datepicker-prev{
	left: 2px;
}
.ui-datepicker .ui-datepicker-next{
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	border: solid 1px #ddd;
	border-radius: 3px;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover{
	border: solid 1px #aaa;
	background: #eee;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.ui-datepicker-prev:before{
	font-family: "dashicons";
	content: "\f341";
	font-size: 1.2em;
	position: absolute;
	top: 3px;
	right: 3px;
}
.ui-datepicker-next:before{
	font-family: "dashicons";
	content: "\f345";
	font-size: 1.2em;
	position: absolute;
	top: 3px;
	left: 4px;
}
.ui-datepicker .ui-datepicker-title{
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	font-weight: bold;
}
.ui-datepicker table{
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th{
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td{
	border: 0;
	padding: 1px;
}
.ui-datepicker-calendar .ui-state-default{
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-datepicker-calendar .ui-state-active{
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}
.ui-datepicker-calendar .ui-state-highlight{
	background: #fafafa;
	color: #363636;
}
.ui-datepicker td span, .ui-datepicker td a{
	display: block;
	padding: .2em .7em;
	text-align: right;
	text-decoration: none;
}
