// @import "icomoon-variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?lkiwor') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?lkiwor') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?lkiwor#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-home {
  &:before {
    content: $icomoon-home;
  }
}
.icomoon-home2 {
  &:before {
    content: $icomoon-home2;
  }
}
.icomoon-home3 {
  &:before {
    content: $icomoon-home3;
  }
}
.icomoon-office {
  &:before {
    content: $icomoon-office;
  }
}
.icomoon-newspaper {
  &:before {
    content: $icomoon-newspaper;
  }
}
.icomoon-pencil {
  &:before {
    content: $icomoon-pencil;
  }
}
.icomoon-pencil2 {
  &:before {
    content: $icomoon-pencil2;
  }
}
.icomoon-quill {
  &:before {
    content: $icomoon-quill;
  }
}
.icomoon-pen {
  &:before {
    content: $icomoon-pen;
  }
}
.icomoon-blog {
  &:before {
    content: $icomoon-blog;
  }
}
.icomoon-eyedropper {
  &:before {
    content: $icomoon-eyedropper;
  }
}
.icomoon-droplet {
  &:before {
    content: $icomoon-droplet;
  }
}
.icomoon-paint-format {
  &:before {
    content: $icomoon-paint-format;
  }
}
.icomoon-image {
  &:before {
    content: $icomoon-image;
  }
}
.icomoon-images {
  &:before {
    content: $icomoon-images;
  }
}
.icomoon-camera {
  &:before {
    content: $icomoon-camera;
  }
}
.icomoon-headphones {
  &:before {
    content: $icomoon-headphones;
  }
}
.icomoon-music {
  &:before {
    content: $icomoon-music;
  }
}
.icomoon-play {
  &:before {
    content: $icomoon-play;
  }
}
.icomoon-film {
  &:before {
    content: $icomoon-film;
  }
}
.icomoon-video-camera {
  &:before {
    content: $icomoon-video-camera;
  }
}
.icomoon-dice {
  &:before {
    content: $icomoon-dice;
  }
}
.icomoon-pacman {
  &:before {
    content: $icomoon-pacman;
  }
}
.icomoon-spades {
  &:before {
    content: $icomoon-spades;
  }
}
.icomoon-clubs {
  &:before {
    content: $icomoon-clubs;
  }
}
.icomoon-diamonds {
  &:before {
    content: $icomoon-diamonds;
  }
}
.icomoon-bullhorn {
  &:before {
    content: $icomoon-bullhorn;
  }
}
.icomoon-connection {
  &:before {
    content: $icomoon-connection;
  }
}
.icomoon-podcast {
  &:before {
    content: $icomoon-podcast;
  }
}
.icomoon-feed {
  &:before {
    content: $icomoon-feed;
  }
}
.icomoon-mic {
  &:before {
    content: $icomoon-mic;
  }
}
.icomoon-book {
  &:before {
    content: $icomoon-book;
  }
}
.icomoon-books {
  &:before {
    content: $icomoon-books;
  }
}
.icomoon-library {
  &:before {
    content: $icomoon-library;
  }
}
.icomoon-file-text {
  &:before {
    content: $icomoon-file-text;
  }
}
.icomoon-profile {
  &:before {
    content: $icomoon-profile;
  }
}
.icomoon-file-empty {
  &:before {
    content: $icomoon-file-empty;
  }
}
.icomoon-files-empty {
  &:before {
    content: $icomoon-files-empty;
  }
}
.icomoon-file-text2 {
  &:before {
    content: $icomoon-file-text2;
  }
}
.icomoon-file-picture {
  &:before {
    content: $icomoon-file-picture;
  }
}
.icomoon-file-music {
  &:before {
    content: $icomoon-file-music;
  }
}
.icomoon-file-play {
  &:before {
    content: $icomoon-file-play;
  }
}
.icomoon-file-video {
  &:before {
    content: $icomoon-file-video;
  }
}
.icomoon-file-zip {
  &:before {
    content: $icomoon-file-zip;
  }
}
.icomoon-copy {
  &:before {
    content: $icomoon-copy;
  }
}
.icomoon-paste {
  &:before {
    content: $icomoon-paste;
  }
}
.icomoon-stack {
  &:before {
    content: $icomoon-stack;
  }
}
.icomoon-folder {
  &:before {
    content: $icomoon-folder;
  }
}
.icomoon-folder-open {
  &:before {
    content: $icomoon-folder-open;
  }
}
.icomoon-folder-plus {
  &:before {
    content: $icomoon-folder-plus;
  }
}
.icomoon-folder-minus {
  &:before {
    content: $icomoon-folder-minus;
  }
}
.icomoon-folder-download {
  &:before {
    content: $icomoon-folder-download;
  }
}
.icomoon-folder-upload {
  &:before {
    content: $icomoon-folder-upload;
  }
}
.icomoon-price-tag {
  &:before {
    content: $icomoon-price-tag;
  }
}
.icomoon-price-tags {
  &:before {
    content: $icomoon-price-tags;
  }
}
.icomoon-barcode {
  &:before {
    content: $icomoon-barcode;
  }
}
.icomoon-qrcode {
  &:before {
    content: $icomoon-qrcode;
  }
}
.icomoon-ticket {
  &:before {
    content: $icomoon-ticket;
  }
}
.icomoon-cart {
  &:before {
    content: $icomoon-cart;
  }
}
.icomoon-coin-dollar {
  &:before {
    content: $icomoon-coin-dollar;
  }
}
.icomoon-coin-euro {
  &:before {
    content: $icomoon-coin-euro;
  }
}
.icomoon-coin-pound {
  &:before {
    content: $icomoon-coin-pound;
  }
}
.icomoon-coin-yen {
  &:before {
    content: $icomoon-coin-yen;
  }
}
.icomoon-credit-card {
  &:before {
    content: $icomoon-credit-card;
  }
}
.icomoon-calculator {
  &:before {
    content: $icomoon-calculator;
  }
}
.icomoon-lifebuoy {
  &:before {
    content: $icomoon-lifebuoy;
  }
}
.icomoon-phone {
  &:before {
    content: $icomoon-phone;
  }
}
.icomoon-phone-hang-up {
  &:before {
    content: $icomoon-phone-hang-up;
  }
}
.icomoon-address-book {
  &:before {
    content: $icomoon-address-book;
  }
}
.icomoon-envelop {
  &:before {
    content: $icomoon-envelop;
  }
}
.icomoon-pushpin {
  &:before {
    content: $icomoon-pushpin;
  }
}
.icomoon-location {
  &:before {
    content: $icomoon-location;
  }
}
.icomoon-location2 {
  &:before {
    content: $icomoon-location2;
  }
}
.icomoon-compass {
  &:before {
    content: $icomoon-compass;
  }
}
.icomoon-compass2 {
  &:before {
    content: $icomoon-compass2;
  }
}
.icomoon-map {
  &:before {
    content: $icomoon-map;
  }
}
.icomoon-map2 {
  &:before {
    content: $icomoon-map2;
  }
}
.icomoon-history {
  &:before {
    content: $icomoon-history;
  }
}
.icomoon-clock {
  &:before {
    content: $icomoon-clock;
  }
}
.icomoon-clock2 {
  &:before {
    content: $icomoon-clock2;
  }
}
.icomoon-alarm {
  &:before {
    content: $icomoon-alarm;
  }
}
.icomoon-bell {
  &:before {
    content: $icomoon-bell;
  }
}
.icomoon-stopwatch {
  &:before {
    content: $icomoon-stopwatch;
  }
}
.icomoon-calendar {
  &:before {
    content: $icomoon-calendar;
  }
}
.icomoon-printer {
  &:before {
    content: $icomoon-printer;
  }
}
.icomoon-keyboard {
  &:before {
    content: $icomoon-keyboard;
  }
}
.icomoon-display {
  &:before {
    content: $icomoon-display;
  }
}
.icomoon-laptop {
  &:before {
    content: $icomoon-laptop;
  }
}
.icomoon-mobile {
  &:before {
    content: $icomoon-mobile;
  }
}
.icomoon-mobile2 {
  &:before {
    content: $icomoon-mobile2;
  }
}
.icomoon-tablet {
  &:before {
    content: $icomoon-tablet;
  }
}
.icomoon-tv {
  &:before {
    content: $icomoon-tv;
  }
}
.icomoon-drawer {
  &:before {
    content: $icomoon-drawer;
  }
}
.icomoon-drawer2 {
  &:before {
    content: $icomoon-drawer2;
  }
}
.icomoon-box-add {
  &:before {
    content: $icomoon-box-add;
  }
}
.icomoon-box-remove {
  &:before {
    content: $icomoon-box-remove;
  }
}
.icomoon-download {
  &:before {
    content: $icomoon-download;
  }
}
.icomoon-upload {
  &:before {
    content: $icomoon-upload;
  }
}
.icomoon-floppy-disk {
  &:before {
    content: $icomoon-floppy-disk;
  }
}
.icomoon-drive {
  &:before {
    content: $icomoon-drive;
  }
}
.icomoon-database {
  &:before {
    content: $icomoon-database;
  }
}
.icomoon-undo {
  &:before {
    content: $icomoon-undo;
  }
}
.icomoon-redo {
  &:before {
    content: $icomoon-redo;
  }
}
.icomoon-undo2 {
  &:before {
    content: $icomoon-undo2;
  }
}
.icomoon-redo2 {
  &:before {
    content: $icomoon-redo2;
  }
}
.icomoon-forward {
  &:before {
    content: $icomoon-forward;
  }
}
.icomoon-reply {
  &:before {
    content: $icomoon-reply;
  }
}
.icomoon-bubble {
  &:before {
    content: $icomoon-bubble;
  }
}
.icomoon-bubbles {
  &:before {
    content: $icomoon-bubbles;
  }
}
.icomoon-bubbles2 {
  &:before {
    content: $icomoon-bubbles2;
  }
}
.icomoon-bubble2 {
  &:before {
    content: $icomoon-bubble2;
  }
}
.icomoon-bubbles3 {
  &:before {
    content: $icomoon-bubbles3;
  }
}
.icomoon-bubbles4 {
  &:before {
    content: $icomoon-bubbles4;
  }
}
.icomoon-user {
  &:before {
    content: $icomoon-user;
  }
}
.icomoon-users {
  &:before {
    content: $icomoon-users;
  }
}
.icomoon-user-plus {
  &:before {
    content: $icomoon-user-plus;
  }
}
.icomoon-user-minus {
  &:before {
    content: $icomoon-user-minus;
  }
}
.icomoon-user-check {
  &:before {
    content: $icomoon-user-check;
  }
}
.icomoon-user-tie {
  &:before {
    content: $icomoon-user-tie;
  }
}
.icomoon-quotes-left {
  &:before {
    content: $icomoon-quotes-left;
  }
}
.icomoon-quotes-right {
  &:before {
    content: $icomoon-quotes-right;
  }
}
.icomoon-hour-glass {
  &:before {
    content: $icomoon-hour-glass;
  }
}
.icomoon-spinner {
  &:before {
    content: $icomoon-spinner;
  }
}
.icomoon-spinner2 {
  &:before {
    content: $icomoon-spinner2;
  }
}
.icomoon-spinner3 {
  &:before {
    content: $icomoon-spinner3;
  }
}
.icomoon-spinner4 {
  &:before {
    content: $icomoon-spinner4;
  }
}
.icomoon-spinner5 {
  &:before {
    content: $icomoon-spinner5;
  }
}
.icomoon-spinner6 {
  &:before {
    content: $icomoon-spinner6;
  }
}
.icomoon-spinner7 {
  &:before {
    content: $icomoon-spinner7;
  }
}
.icomoon-spinner8 {
  &:before {
    content: $icomoon-spinner8;
  }
}
.icomoon-spinner9 {
  &:before {
    content: $icomoon-spinner9;
  }
}
.icomoon-spinner10 {
  &:before {
    content: $icomoon-spinner10;
  }
}
.icomoon-spinner11 {
  &:before {
    content: $icomoon-spinner11;
  }
}
.icomoon-binoculars {
  &:before {
    content: $icomoon-binoculars;
  }
}
.icomoon-search {
  &:before {
    content: $icomoon-search;
  }
}
.icomoon-zoom-in {
  &:before {
    content: $icomoon-zoom-in;
  }
}
.icomoon-zoom-out {
  &:before {
    content: $icomoon-zoom-out;
  }
}
.icomoon-enlarge {
  &:before {
    content: $icomoon-enlarge;
  }
}
.icomoon-shrink {
  &:before {
    content: $icomoon-shrink;
  }
}
.icomoon-enlarge2 {
  &:before {
    content: $icomoon-enlarge2;
  }
}
.icomoon-shrink2 {
  &:before {
    content: $icomoon-shrink2;
  }
}
.icomoon-key {
  &:before {
    content: $icomoon-key;
  }
}
.icomoon-key2 {
  &:before {
    content: $icomoon-key2;
  }
}
.icomoon-lock {
  &:before {
    content: $icomoon-lock;
  }
}
.icomoon-unlocked {
  &:before {
    content: $icomoon-unlocked;
  }
}
.icomoon-wrench {
  &:before {
    content: $icomoon-wrench;
  }
}
.icomoon-equalizer {
  &:before {
    content: $icomoon-equalizer;
  }
}
.icomoon-equalizer2 {
  &:before {
    content: $icomoon-equalizer2;
  }
}
.icomoon-cog {
  &:before {
    content: $icomoon-cog;
  }
}
.icomoon-cogs {
  &:before {
    content: $icomoon-cogs;
  }
}
.icomoon-hammer {
  &:before {
    content: $icomoon-hammer;
  }
}
.icomoon-magic-wand {
  &:before {
    content: $icomoon-magic-wand;
  }
}
.icomoon-aid-kit {
  &:before {
    content: $icomoon-aid-kit;
  }
}
.icomoon-bug {
  &:before {
    content: $icomoon-bug;
  }
}
.icomoon-pie-chart {
  &:before {
    content: $icomoon-pie-chart;
  }
}
.icomoon-stats-dots {
  &:before {
    content: $icomoon-stats-dots;
  }
}
.icomoon-stats-bars {
  &:before {
    content: $icomoon-stats-bars;
  }
}
.icomoon-stats-bars2 {
  &:before {
    content: $icomoon-stats-bars2;
  }
}
.icomoon-trophy {
  &:before {
    content: $icomoon-trophy;
  }
}
.icomoon-gift {
  &:before {
    content: $icomoon-gift;
  }
}
.icomoon-glass {
  &:before {
    content: $icomoon-glass;
  }
}
.icomoon-glass2 {
  &:before {
    content: $icomoon-glass2;
  }
}
.icomoon-mug {
  &:before {
    content: $icomoon-mug;
  }
}
.icomoon-spoon-knife {
  &:before {
    content: $icomoon-spoon-knife;
  }
}
.icomoon-leaf {
  &:before {
    content: $icomoon-leaf;
  }
}
.icomoon-rocket {
  &:before {
    content: $icomoon-rocket;
  }
}
.icomoon-meter {
  &:before {
    content: $icomoon-meter;
  }
}
.icomoon-meter2 {
  &:before {
    content: $icomoon-meter2;
  }
}
.icomoon-hammer2 {
  &:before {
    content: $icomoon-hammer2;
  }
}
.icomoon-fire {
  &:before {
    content: $icomoon-fire;
  }
}
.icomoon-lab {
  &:before {
    content: $icomoon-lab;
  }
}
.icomoon-magnet {
  &:before {
    content: $icomoon-magnet;
  }
}
.icomoon-bin {
  &:before {
    content: $icomoon-bin;
  }
}
.icomoon-bin2 {
  &:before {
    content: $icomoon-bin2;
  }
}
.icomoon-briefcase {
  &:before {
    content: $icomoon-briefcase;
  }
}
.icomoon-airplane {
  &:before {
    content: $icomoon-airplane;
  }
}
.icomoon-truck {
  &:before {
    content: $icomoon-truck;
  }
}
.icomoon-road {
  &:before {
    content: $icomoon-road;
  }
}
.icomoon-accessibility {
  &:before {
    content: $icomoon-accessibility;
  }
}
.icomoon-target {
  &:before {
    content: $icomoon-target;
  }
}
.icomoon-shield {
  &:before {
    content: $icomoon-shield;
  }
}
.icomoon-power {
  &:before {
    content: $icomoon-power;
  }
}
.icomoon-switch {
  &:before {
    content: $icomoon-switch;
  }
}
.icomoon-power-cord {
  &:before {
    content: $icomoon-power-cord;
  }
}
.icomoon-clipboard {
  &:before {
    content: $icomoon-clipboard;
  }
}
.icomoon-list-numbered {
  &:before {
    content: $icomoon-list-numbered;
  }
}
.icomoon-list {
  &:before {
    content: $icomoon-list;
  }
}
.icomoon-list2 {
  &:before {
    content: $icomoon-list2;
  }
}
.icomoon-tree {
  &:before {
    content: $icomoon-tree;
  }
}
.icomoon-menu {
  &:before {
    content: $icomoon-menu;
  }
}
.icomoon-menu2 {
  &:before {
    content: $icomoon-menu2;
  }
}
.icomoon-menu3 {
  &:before {
    content: $icomoon-menu3;
  }
}
.icomoon-menu4 {
  &:before {
    content: $icomoon-menu4;
  }
}
.icomoon-cloud {
  &:before {
    content: $icomoon-cloud;
  }
}
.icomoon-cloud-download {
  &:before {
    content: $icomoon-cloud-download;
  }
}
.icomoon-cloud-upload {
  &:before {
    content: $icomoon-cloud-upload;
  }
}
.icomoon-cloud-check {
  &:before {
    content: $icomoon-cloud-check;
  }
}
.icomoon-download2 {
  &:before {
    content: $icomoon-download2;
  }
}
.icomoon-upload2 {
  &:before {
    content: $icomoon-upload2;
  }
}
.icomoon-download3 {
  &:before {
    content: $icomoon-download3;
  }
}
.icomoon-upload3 {
  &:before {
    content: $icomoon-upload3;
  }
}
.icomoon-sphere {
  &:before {
    content: $icomoon-sphere;
  }
}
.icomoon-earth {
  &:before {
    content: $icomoon-earth;
  }
}
.icomoon-link {
  &:before {
    content: $icomoon-link;
  }
}
.icomoon-flag {
  &:before {
    content: $icomoon-flag;
  }
}
.icomoon-attachment {
  &:before {
    content: $icomoon-attachment;
  }
}
.icomoon-eye {
  &:before {
    content: $icomoon-eye;
  }
}
.icomoon-eye-plus {
  &:before {
    content: $icomoon-eye-plus;
  }
}
.icomoon-eye-minus {
  &:before {
    content: $icomoon-eye-minus;
  }
}
.icomoon-eye-blocked {
  &:before {
    content: $icomoon-eye-blocked;
  }
}
.icomoon-bookmark {
  &:before {
    content: $icomoon-bookmark;
  }
}
.icomoon-bookmarks {
  &:before {
    content: $icomoon-bookmarks;
  }
}
.icomoon-sun {
  &:before {
    content: $icomoon-sun;
  }
}
.icomoon-contrast {
  &:before {
    content: $icomoon-contrast;
  }
}
.icomoon-brightness-contrast {
  &:before {
    content: $icomoon-brightness-contrast;
  }
}
.icomoon-star-empty {
  &:before {
    content: $icomoon-star-empty;
  }
}
.icomoon-star-half {
  &:before {
    content: $icomoon-star-half;
  }
}
.icomoon-star-full {
  &:before {
    content: $icomoon-star-full;
  }
}
.icomoon-heart {
  &:before {
    content: $icomoon-heart;
  }
}
.icomoon-heart-broken {
  &:before {
    content: $icomoon-heart-broken;
  }
}
.icomoon-man {
  &:before {
    content: $icomoon-man;
  }
}
.icomoon-woman {
  &:before {
    content: $icomoon-woman;
  }
}
.icomoon-man-woman {
  &:before {
    content: $icomoon-man-woman;
  }
}
.icomoon-happy {
  &:before {
    content: $icomoon-happy;
  }
}
.icomoon-happy2 {
  &:before {
    content: $icomoon-happy2;
  }
}
.icomoon-smile {
  &:before {
    content: $icomoon-smile;
  }
}
.icomoon-smile2 {
  &:before {
    content: $icomoon-smile2;
  }
}
.icomoon-tongue {
  &:before {
    content: $icomoon-tongue;
  }
}
.icomoon-tongue2 {
  &:before {
    content: $icomoon-tongue2;
  }
}
.icomoon-sad {
  &:before {
    content: $icomoon-sad;
  }
}
.icomoon-sad2 {
  &:before {
    content: $icomoon-sad2;
  }
}
.icomoon-wink {
  &:before {
    content: $icomoon-wink;
  }
}
.icomoon-wink2 {
  &:before {
    content: $icomoon-wink2;
  }
}
.icomoon-grin {
  &:before {
    content: $icomoon-grin;
  }
}
.icomoon-grin2 {
  &:before {
    content: $icomoon-grin2;
  }
}
.icomoon-cool {
  &:before {
    content: $icomoon-cool;
  }
}
.icomoon-cool2 {
  &:before {
    content: $icomoon-cool2;
  }
}
.icomoon-angry {
  &:before {
    content: $icomoon-angry;
  }
}
.icomoon-angry2 {
  &:before {
    content: $icomoon-angry2;
  }
}
.icomoon-evil {
  &:before {
    content: $icomoon-evil;
  }
}
.icomoon-evil2 {
  &:before {
    content: $icomoon-evil2;
  }
}
.icomoon-shocked {
  &:before {
    content: $icomoon-shocked;
  }
}
.icomoon-shocked2 {
  &:before {
    content: $icomoon-shocked2;
  }
}
.icomoon-baffled {
  &:before {
    content: $icomoon-baffled;
  }
}
.icomoon-baffled2 {
  &:before {
    content: $icomoon-baffled2;
  }
}
.icomoon-confused {
  &:before {
    content: $icomoon-confused;
  }
}
.icomoon-confused2 {
  &:before {
    content: $icomoon-confused2;
  }
}
.icomoon-neutral {
  &:before {
    content: $icomoon-neutral;
  }
}
.icomoon-neutral2 {
  &:before {
    content: $icomoon-neutral2;
  }
}
.icomoon-hipster {
  &:before {
    content: $icomoon-hipster;
  }
}
.icomoon-hipster2 {
  &:before {
    content: $icomoon-hipster2;
  }
}
.icomoon-wondering {
  &:before {
    content: $icomoon-wondering;
  }
}
.icomoon-wondering2 {
  &:before {
    content: $icomoon-wondering2;
  }
}
.icomoon-sleepy {
  &:before {
    content: $icomoon-sleepy;
  }
}
.icomoon-sleepy2 {
  &:before {
    content: $icomoon-sleepy2;
  }
}
.icomoon-frustrated {
  &:before {
    content: $icomoon-frustrated;
  }
}
.icomoon-frustrated2 {
  &:before {
    content: $icomoon-frustrated2;
  }
}
.icomoon-crying {
  &:before {
    content: $icomoon-crying;
  }
}
.icomoon-crying2 {
  &:before {
    content: $icomoon-crying2;
  }
}
.icomoon-point-up {
  &:before {
    content: $icomoon-point-up;
  }
}
.icomoon-point-right {
  &:before {
    content: $icomoon-point-right;
  }
}
.icomoon-point-down {
  &:before {
    content: $icomoon-point-down;
  }
}
.icomoon-point-left {
  &:before {
    content: $icomoon-point-left;
  }
}
.icomoon-warning {
  &:before {
    content: $icomoon-warning;
  }
}
.icomoon-notification {
  &:before {
    content: $icomoon-notification;
  }
}
.icomoon-question {
  &:before {
    content: $icomoon-question;
  }
}
.icomoon-plus {
  &:before {
    content: $icomoon-plus;
  }
}
.icomoon-minus {
  &:before {
    content: $icomoon-minus;
  }
}
.icomoon-info {
  &:before {
    content: $icomoon-info;
  }
}
.icomoon-cancel-circle {
  &:before {
    content: $icomoon-cancel-circle;
  }
}
.icomoon-blocked {
  &:before {
    content: $icomoon-blocked;
  }
}
.icomoon-cross {
  &:before {
    content: $icomoon-cross;
  }
}
.icomoon-checkmark {
  &:before {
    content: $icomoon-checkmark;
  }
}
.icomoon-checkmark2 {
  &:before {
    content: $icomoon-checkmark2;
  }
}
.icomoon-spell-check {
  &:before {
    content: $icomoon-spell-check;
  }
}
.icomoon-enter {
  &:before {
    content: $icomoon-enter;
  }
}
.icomoon-exit {
  &:before {
    content: $icomoon-exit;
  }
}
.icomoon-play2 {
  &:before {
    content: $icomoon-play2;
  }
}
.icomoon-pause {
  &:before {
    content: $icomoon-pause;
  }
}
.icomoon-stop {
  &:before {
    content: $icomoon-stop;
  }
}
.icomoon-previous {
  &:before {
    content: $icomoon-previous;
  }
}
.icomoon-next {
  &:before {
    content: $icomoon-next;
  }
}
.icomoon-backward {
  &:before {
    content: $icomoon-backward;
  }
}
.icomoon-forward2 {
  &:before {
    content: $icomoon-forward2;
  }
}
.icomoon-play3 {
  &:before {
    content: $icomoon-play3;
  }
}
.icomoon-pause2 {
  &:before {
    content: $icomoon-pause2;
  }
}
.icomoon-stop2 {
  &:before {
    content: $icomoon-stop2;
  }
}
.icomoon-backward2 {
  &:before {
    content: $icomoon-backward2;
  }
}
.icomoon-forward3 {
  &:before {
    content: $icomoon-forward3;
  }
}
.icomoon-first {
  &:before {
    content: $icomoon-first;
  }
}
.icomoon-last {
  &:before {
    content: $icomoon-last;
  }
}
.icomoon-previous2 {
  &:before {
    content: $icomoon-previous2;
  }
}
.icomoon-next2 {
  &:before {
    content: $icomoon-next2;
  }
}
.icomoon-eject {
  &:before {
    content: $icomoon-eject;
  }
}
.icomoon-volume-high {
  &:before {
    content: $icomoon-volume-high;
  }
}
.icomoon-volume-medium {
  &:before {
    content: $icomoon-volume-medium;
  }
}
.icomoon-volume-low {
  &:before {
    content: $icomoon-volume-low;
  }
}
.icomoon-volume-mute {
  &:before {
    content: $icomoon-volume-mute;
  }
}
.icomoon-volume-mute2 {
  &:before {
    content: $icomoon-volume-mute2;
  }
}
.icomoon-volume-increase {
  &:before {
    content: $icomoon-volume-increase;
  }
}
.icomoon-volume-decrease {
  &:before {
    content: $icomoon-volume-decrease;
  }
}
.icomoon-loop {
  &:before {
    content: $icomoon-loop;
  }
}
.icomoon-loop2 {
  &:before {
    content: $icomoon-loop2;
  }
}
.icomoon-infinite {
  &:before {
    content: $icomoon-infinite;
  }
}
.icomoon-shuffle {
  &:before {
    content: $icomoon-shuffle;
  }
}
.icomoon-arrow-up-left {
  &:before {
    content: $icomoon-arrow-up-left;
  }
}
.icomoon-arrow-up {
  &:before {
    content: $icomoon-arrow-up;
  }
}
.icomoon-arrow-up-right {
  &:before {
    content: $icomoon-arrow-up-right;
  }
}
.icomoon-arrow-right {
  &:before {
    content: $icomoon-arrow-right;
  }
}
.icomoon-arrow-down-right {
  &:before {
    content: $icomoon-arrow-down-right;
  }
}
.icomoon-arrow-down {
  &:before {
    content: $icomoon-arrow-down;
  }
}
.icomoon-arrow-down-left {
  &:before {
    content: $icomoon-arrow-down-left;
  }
}
.icomoon-arrow-left {
  &:before {
    content: $icomoon-arrow-left;
  }
}
.icomoon-arrow-up-left2 {
  &:before {
    content: $icomoon-arrow-up-left2;
  }
}
.icomoon-arrow-up2 {
  &:before {
    content: $icomoon-arrow-up2;
  }
}
.icomoon-arrow-up-right2 {
  &:before {
    content: $icomoon-arrow-up-right2;
  }
}
.icomoon-arrow-right2 {
  &:before {
    content: $icomoon-arrow-right2;
  }
}
.icomoon-arrow-down-right2 {
  &:before {
    content: $icomoon-arrow-down-right2;
  }
}
.icomoon-arrow-down2 {
  &:before {
    content: $icomoon-arrow-down2;
  }
}
.icomoon-arrow-down-left2 {
  &:before {
    content: $icomoon-arrow-down-left2;
  }
}
.icomoon-arrow-left2 {
  &:before {
    content: $icomoon-arrow-left2;
  }
}
.icomoon-circle-up {
  &:before {
    content: $icomoon-circle-up;
  }
}
.icomoon-circle-right {
  &:before {
    content: $icomoon-circle-right;
  }
}
.icomoon-circle-down {
  &:before {
    content: $icomoon-circle-down;
  }
}
.icomoon-circle-left {
  &:before {
    content: $icomoon-circle-left;
  }
}
.icomoon-tab {
  &:before {
    content: $icomoon-tab;
  }
}
.icomoon-move-up {
  &:before {
    content: $icomoon-move-up;
  }
}
.icomoon-move-down {
  &:before {
    content: $icomoon-move-down;
  }
}
.icomoon-sort-alpha-asc {
  &:before {
    content: $icomoon-sort-alpha-asc;
  }
}
.icomoon-sort-alpha-desc {
  &:before {
    content: $icomoon-sort-alpha-desc;
  }
}
.icomoon-sort-numeric-asc {
  &:before {
    content: $icomoon-sort-numeric-asc;
  }
}
.icomoon-sort-numberic-desc {
  &:before {
    content: $icomoon-sort-numberic-desc;
  }
}
.icomoon-sort-amount-asc {
  &:before {
    content: $icomoon-sort-amount-asc;
  }
}
.icomoon-sort-amount-desc {
  &:before {
    content: $icomoon-sort-amount-desc;
  }
}
.icomoon-command {
  &:before {
    content: $icomoon-command;
  }
}
.icomoon-shift {
  &:before {
    content: $icomoon-shift;
  }
}
.icomoon-ctrl {
  &:before {
    content: $icomoon-ctrl;
  }
}
.icomoon-opt {
  &:before {
    content: $icomoon-opt;
  }
}
.icomoon-checkbox-checked {
  &:before {
    content: $icomoon-checkbox-checked;
  }
}
.icomoon-checkbox-unchecked {
  &:before {
    content: $icomoon-checkbox-unchecked;
  }
}
.icomoon-radio-checked {
  &:before {
    content: $icomoon-radio-checked;
  }
}
.icomoon-radio-checked2 {
  &:before {
    content: $icomoon-radio-checked2;
  }
}
.icomoon-radio-unchecked {
  &:before {
    content: $icomoon-radio-unchecked;
  }
}
.icomoon-crop {
  &:before {
    content: $icomoon-crop;
  }
}
.icomoon-make-group {
  &:before {
    content: $icomoon-make-group;
  }
}
.icomoon-ungroup {
  &:before {
    content: $icomoon-ungroup;
  }
}
.icomoon-scissors {
  &:before {
    content: $icomoon-scissors;
  }
}
.icomoon-filter {
  &:before {
    content: $icomoon-filter;
  }
}
.icomoon-font {
  &:before {
    content: $icomoon-font;
  }
}
.icomoon-ligature {
  &:before {
    content: $icomoon-ligature;
  }
}
.icomoon-ligature2 {
  &:before {
    content: $icomoon-ligature2;
  }
}
.icomoon-text-height {
  &:before {
    content: $icomoon-text-height;
  }
}
.icomoon-text-width {
  &:before {
    content: $icomoon-text-width;
  }
}
.icomoon-font-size {
  &:before {
    content: $icomoon-font-size;
  }
}
.icomoon-bold {
  &:before {
    content: $icomoon-bold;
  }
}
.icomoon-underline {
  &:before {
    content: $icomoon-underline;
  }
}
.icomoon-italic {
  &:before {
    content: $icomoon-italic;
  }
}
.icomoon-strikethrough {
  &:before {
    content: $icomoon-strikethrough;
  }
}
.icomoon-omega {
  &:before {
    content: $icomoon-omega;
  }
}
.icomoon-sigma {
  &:before {
    content: $icomoon-sigma;
  }
}
.icomoon-page-break {
  &:before {
    content: $icomoon-page-break;
  }
}
.icomoon-superscript {
  &:before {
    content: $icomoon-superscript;
  }
}
.icomoon-subscript {
  &:before {
    content: $icomoon-subscript;
  }
}
.icomoon-superscript2 {
  &:before {
    content: $icomoon-superscript2;
  }
}
.icomoon-subscript2 {
  &:before {
    content: $icomoon-subscript2;
  }
}
.icomoon-text-color {
  &:before {
    content: $icomoon-text-color;
  }
}
.icomoon-pagebreak {
  &:before {
    content: $icomoon-pagebreak;
  }
}
.icomoon-clear-formatting {
  &:before {
    content: $icomoon-clear-formatting;
  }
}
.icomoon-table {
  &:before {
    content: $icomoon-table;
  }
}
.icomoon-table2 {
  &:before {
    content: $icomoon-table2;
  }
}
.icomoon-insert-template {
  &:before {
    content: $icomoon-insert-template;
  }
}
.icomoon-pilcrow {
  &:before {
    content: $icomoon-pilcrow;
  }
}
.icomoon-ltr {
  &:before {
    content: $icomoon-ltr;
  }
}
.icomoon-rtl {
  &:before {
    content: $icomoon-rtl;
  }
}
.icomoon-section {
  &:before {
    content: $icomoon-section;
  }
}
.icomoon-paragraph-left {
  &:before {
    content: $icomoon-paragraph-left;
  }
}
.icomoon-paragraph-center {
  &:before {
    content: $icomoon-paragraph-center;
  }
}
.icomoon-paragraph-right {
  &:before {
    content: $icomoon-paragraph-right;
  }
}
.icomoon-paragraph-justify {
  &:before {
    content: $icomoon-paragraph-justify;
  }
}
.icomoon-indent-increase {
  &:before {
    content: $icomoon-indent-increase;
  }
}
.icomoon-indent-decrease {
  &:before {
    content: $icomoon-indent-decrease;
  }
}
.icomoon-share {
  &:before {
    content: $icomoon-share;
  }
}
.icomoon-new-tab {
  &:before {
    content: $icomoon-new-tab;
  }
}
.icomoon-embed {
  &:before {
    content: $icomoon-embed;
  }
}
.icomoon-embed2 {
  &:before {
    content: $icomoon-embed2;
  }
}
.icomoon-terminal {
  &:before {
    content: $icomoon-terminal;
  }
}
.icomoon-share2 {
  &:before {
    content: $icomoon-share2;
  }
}
.icomoon-mail {
  &:before {
    content: $icomoon-mail;
  }
}
.icomoon-mail2 {
  &:before {
    content: $icomoon-mail2;
  }
}
.icomoon-mail3 {
  &:before {
    content: $icomoon-mail3;
  }
}
.icomoon-mail4 {
  &:before {
    content: $icomoon-mail4;
  }
}
.icomoon-amazon {
  &:before {
    content: $icomoon-amazon;
  }
}
.icomoon-google {
  &:before {
    content: $icomoon-google;
  }
}
.icomoon-google2 {
  &:before {
    content: $icomoon-google2;
  }
}
.icomoon-google3 {
  &:before {
    content: $icomoon-google3;
  }
}
.icomoon-google-plus {
  &:before {
    content: $icomoon-google-plus;
  }
}
.icomoon-google-plus2 {
  &:before {
    content: $icomoon-google-plus2;
  }
}
.icomoon-google-plus3 {
  &:before {
    content: $icomoon-google-plus3;
  }
}
.icomoon-hangouts {
  &:before {
    content: $icomoon-hangouts;
  }
}
.icomoon-google-drive {
  &:before {
    content: $icomoon-google-drive;
  }
}
.icomoon-facebook {
  &:before {
    content: $icomoon-facebook;
  }
}
.icomoon-facebook2 {
  &:before {
    content: $icomoon-facebook2;
  }
}
.icomoon-instagram {
  &:before {
    content: $icomoon-instagram;
  }
}
.icomoon-whatsapp {
  &:before {
    content: $icomoon-whatsapp;
  }
}
.icomoon-spotify {
  &:before {
    content: $icomoon-spotify;
  }
}
.icomoon-telegram {
  &:before {
    content: $icomoon-telegram;
  }
}
.icomoon-twitter {
  &:before {
    content: $icomoon-twitter;
  }
}
.icomoon-vine {
  &:before {
    content: $icomoon-vine;
  }
}
.icomoon-vk {
  &:before {
    content: $icomoon-vk;
  }
}
.icomoon-renren {
  &:before {
    content: $icomoon-renren;
  }
}
.icomoon-sina-weibo {
  &:before {
    content: $icomoon-sina-weibo;
  }
}
.icomoon-rss {
  &:before {
    content: $icomoon-rss;
  }
}
.icomoon-rss2 {
  &:before {
    content: $icomoon-rss2;
  }
}
.icomoon-youtube {
  &:before {
    content: $icomoon-youtube;
  }
}
.icomoon-youtube2 {
  &:before {
    content: $icomoon-youtube2;
  }
}
.icomoon-twitch {
  &:before {
    content: $icomoon-twitch;
  }
}
.icomoon-vimeo {
  &:before {
    content: $icomoon-vimeo;
  }
}
.icomoon-vimeo2 {
  &:before {
    content: $icomoon-vimeo2;
  }
}
.icomoon-lanyrd {
  &:before {
    content: $icomoon-lanyrd;
  }
}
.icomoon-flickr {
  &:before {
    content: $icomoon-flickr;
  }
}
.icomoon-flickr2 {
  &:before {
    content: $icomoon-flickr2;
  }
}
.icomoon-flickr3 {
  &:before {
    content: $icomoon-flickr3;
  }
}
.icomoon-flickr4 {
  &:before {
    content: $icomoon-flickr4;
  }
}
.icomoon-dribbble {
  &:before {
    content: $icomoon-dribbble;
  }
}
.icomoon-behance {
  &:before {
    content: $icomoon-behance;
  }
}
.icomoon-behance2 {
  &:before {
    content: $icomoon-behance2;
  }
}
.icomoon-deviantart {
  &:before {
    content: $icomoon-deviantart;
  }
}
.icomoon-500px {
  &:before {
    content: $icomoon-500px;
  }
}
.icomoon-steam {
  &:before {
    content: $icomoon-steam;
  }
}
.icomoon-steam2 {
  &:before {
    content: $icomoon-steam2;
  }
}
.icomoon-dropbox {
  &:before {
    content: $icomoon-dropbox;
  }
}
.icomoon-onedrive {
  &:before {
    content: $icomoon-onedrive;
  }
}
.icomoon-github {
  &:before {
    content: $icomoon-github;
  }
}
.icomoon-npm {
  &:before {
    content: $icomoon-npm;
  }
}
.icomoon-basecamp {
  &:before {
    content: $icomoon-basecamp;
  }
}
.icomoon-trello {
  &:before {
    content: $icomoon-trello;
  }
}
.icomoon-wordpress {
  &:before {
    content: $icomoon-wordpress;
  }
}
.icomoon-joomla {
  &:before {
    content: $icomoon-joomla;
  }
}
.icomoon-ello {
  &:before {
    content: $icomoon-ello;
  }
}
.icomoon-blogger {
  &:before {
    content: $icomoon-blogger;
  }
}
.icomoon-blogger2 {
  &:before {
    content: $icomoon-blogger2;
  }
}
.icomoon-tumblr {
  &:before {
    content: $icomoon-tumblr;
  }
}
.icomoon-tumblr2 {
  &:before {
    content: $icomoon-tumblr2;
  }
}
.icomoon-yahoo {
  &:before {
    content: $icomoon-yahoo;
  }
}
.icomoon-yahoo2 {
  &:before {
    content: $icomoon-yahoo2;
  }
}
.icomoon-tux {
  &:before {
    content: $icomoon-tux;
  }
}
.icomoon-appleinc {
  &:before {
    content: $icomoon-appleinc;
  }
}
.icomoon-finder {
  &:before {
    content: $icomoon-finder;
  }
}
.icomoon-android {
  &:before {
    content: $icomoon-android;
  }
}
.icomoon-windows {
  &:before {
    content: $icomoon-windows;
  }
}
.icomoon-windows8 {
  &:before {
    content: $icomoon-windows8;
  }
}
.icomoon-soundcloud {
  &:before {
    content: $icomoon-soundcloud;
  }
}
.icomoon-soundcloud2 {
  &:before {
    content: $icomoon-soundcloud2;
  }
}
.icomoon-skype {
  &:before {
    content: $icomoon-skype;
  }
}
.icomoon-reddit {
  &:before {
    content: $icomoon-reddit;
  }
}
.icomoon-hackernews {
  &:before {
    content: $icomoon-hackernews;
  }
}
.icomoon-wikipedia {
  &:before {
    content: $icomoon-wikipedia;
  }
}
.icomoon-linkedin {
  &:before {
    content: $icomoon-linkedin;
  }
}
.icomoon-linkedin2 {
  &:before {
    content: $icomoon-linkedin2;
  }
}
.icomoon-lastfm {
  &:before {
    content: $icomoon-lastfm;
  }
}
.icomoon-lastfm2 {
  &:before {
    content: $icomoon-lastfm2;
  }
}
.icomoon-delicious {
  &:before {
    content: $icomoon-delicious;
  }
}
.icomoon-stumbleupon {
  &:before {
    content: $icomoon-stumbleupon;
  }
}
.icomoon-stumbleupon2 {
  &:before {
    content: $icomoon-stumbleupon2;
  }
}
.icomoon-stackoverflow {
  &:before {
    content: $icomoon-stackoverflow;
  }
}
.icomoon-pinterest {
  &:before {
    content: $icomoon-pinterest;
  }
}
.icomoon-pinterest2 {
  &:before {
    content: $icomoon-pinterest2;
  }
}
.icomoon-xing {
  &:before {
    content: $icomoon-xing;
  }
}
.icomoon-xing2 {
  &:before {
    content: $icomoon-xing2;
  }
}
.icomoon-flattr {
  &:before {
    content: $icomoon-flattr;
  }
}
.icomoon-foursquare {
  &:before {
    content: $icomoon-foursquare;
  }
}
.icomoon-yelp {
  &:before {
    content: $icomoon-yelp;
  }
}
.icomoon-paypal {
  &:before {
    content: $icomoon-paypal;
  }
}
.icomoon-chrome {
  &:before {
    content: $icomoon-chrome;
  }
}
.icomoon-firefox {
  &:before {
    content: $icomoon-firefox;
  }
}
.icomoon-IE {
  &:before {
    content: $icomoon-IE;
  }
}
.icomoon-edge {
  &:before {
    content: $icomoon-edge;
  }
}
.icomoon-safari {
  &:before {
    content: $icomoon-safari;
  }
}
.icomoon-opera {
  &:before {
    content: $icomoon-opera;
  }
}
.icomoon-file-pdf {
  &:before {
    content: $icomoon-file-pdf;
  }
}
.icomoon-file-openoffice {
  &:before {
    content: $icomoon-file-openoffice;
  }
}
.icomoon-file-word {
  &:before {
    content: $icomoon-file-word;
  }
}
.icomoon-file-excel {
  &:before {
    content: $icomoon-file-excel;
  }
}
.icomoon-libreoffice {
  &:before {
    content: $icomoon-libreoffice;
  }
}
.icomoon-html-five {
  &:before {
    content: $icomoon-html-five;
  }
}
.icomoon-html-five2 {
  &:before {
    content: $icomoon-html-five2;
  }
}
.icomoon-css3 {
  &:before {
    content: $icomoon-css3;
  }
}
.icomoon-git {
  &:before {
    content: $icomoon-git;
  }
}
.icomoon-codepen {
  &:before {
    content: $icomoon-codepen;
  }
}
.icomoon-svg {
  &:before {
    content: $icomoon-svg;
  }
}
.icomoon-IcoMoon {
  &:before {
    content: $icomoon-IcoMoon;
  }
}
.icomoon-warning2 {
  &:before {
    content: $icomoon-warning2;
  }
}
.icomoon-cloud2 {
  &:before {
    content: $icomoon-cloud2;
  }
}
.icomoon-locked {
  &:before {
    content: $icomoon-locked;
  }
}
.icomoon-inbox {
  &:before {
    content: $icomoon-inbox;
  }
}
.icomoon-comment {
  &:before {
    content: $icomoon-comment;
  }
}
.icomoon-mic2 {
  &:before {
    content: $icomoon-mic2;
  }
}
.icomoon-envelope {
  &:before {
    content: $icomoon-envelope;
  }
}
.icomoon-briefcase2 {
  &:before {
    content: $icomoon-briefcase2;
  }
}
.icomoon-cart2 {
  &:before {
    content: $icomoon-cart2;
  }
}
.icomoon-contrast2 {
  &:before {
    content: $icomoon-contrast2;
  }
}
.icomoon-clock3 {
  &:before {
    content: $icomoon-clock3;
  }
}
.icomoon-user2 {
  &:before {
    content: $icomoon-user2;
  }
}
.icomoon-cog2 {
  &:before {
    content: $icomoon-cog2;
  }
}
.icomoon-music2 {
  &:before {
    content: $icomoon-music2;
  }
}
.icomoon-twitter2 {
  &:before {
    content: $icomoon-twitter2;
  }
}
.icomoon-pencil3 {
  &:before {
    content: $icomoon-pencil3;
  }
}
.icomoon-frame {
  &:before {
    content: $icomoon-frame;
  }
}
.icomoon-switch2 {
  &:before {
    content: $icomoon-switch2;
  }
}
.icomoon-star {
  &:before {
    content: $icomoon-star;
  }
}
.icomoon-key3 {
  &:before {
    content: $icomoon-key3;
  }
}
.icomoon-chart {
  &:before {
    content: $icomoon-chart;
  }
}
.icomoon-apple {
  &:before {
    content: $icomoon-apple;
  }
}
.icomoon-file {
  &:before {
    content: $icomoon-file;
  }
}
.icomoon-plus2 {
  &:before {
    content: $icomoon-plus2;
  }
}
.icomoon-minus2 {
  &:before {
    content: $icomoon-minus2;
  }
}
.icomoon-picture {
  &:before {
    content: $icomoon-picture;
  }
}
.icomoon-folder2 {
  &:before {
    content: $icomoon-folder2;
  }
}
.icomoon-camera2 {
  &:before {
    content: $icomoon-camera2;
  }
}
.icomoon-search2 {
  &:before {
    content: $icomoon-search2;
  }
}
.icomoon-dribbble2 {
  &:before {
    content: $icomoon-dribbble2;
  }
}
.icomoon-forrst {
  &:before {
    content: $icomoon-forrst;
  }
}
.icomoon-feed2 {
  &:before {
    content: $icomoon-feed2;
  }
}
.icomoon-blocked2 {
  &:before {
    content: $icomoon-blocked2;
  }
}
.icomoon-target2 {
  &:before {
    content: $icomoon-target2;
  }
}
.icomoon-play4 {
  &:before {
    content: $icomoon-play4;
  }
}
.icomoon-pause3 {
  &:before {
    content: $icomoon-pause3;
  }
}
.icomoon-bug2 {
  &:before {
    content: $icomoon-bug2;
  }
}
.icomoon-console {
  &:before {
    content: $icomoon-console;
  }
}
.icomoon-film2 {
  &:before {
    content: $icomoon-film2;
  }
}
.icomoon-type {
  &:before {
    content: $icomoon-type;
  }
}
.icomoon-home4 {
  &:before {
    content: $icomoon-home4;
  }
}
.icomoon-earth2 {
  &:before {
    content: $icomoon-earth2;
  }
}
.icomoon-location3 {
  &:before {
    content: $icomoon-location3;
  }
}
.icomoon-info2 {
  &:before {
    content: $icomoon-info2;
  }
}
.icomoon-eye2 {
  &:before {
    content: $icomoon-eye2;
  }
}
.icomoon-heart2 {
  &:before {
    content: $icomoon-heart2;
  }
}
.icomoon-bookmark2 {
  &:before {
    content: $icomoon-bookmark2;
  }
}
.icomoon-wrench2 {
  &:before {
    content: $icomoon-wrench2;
  }
}
.icomoon-calendar2 {
  &:before {
    content: $icomoon-calendar2;
  }
}
.icomoon-window {
  &:before {
    content: $icomoon-window;
  }
}
.icomoon-monitor {
  &:before {
    content: $icomoon-monitor;
  }
}
.icomoon-mobile3 {
  &:before {
    content: $icomoon-mobile3;
  }
}
.icomoon-droplet2 {
  &:before {
    content: $icomoon-droplet2;
  }
}
.icomoon-mouse {
  &:before {
    content: $icomoon-mouse;
  }
}
.icomoon-refresh {
  &:before {
    content: $icomoon-refresh;
  }
}
.icomoon-location4 {
  &:before {
    content: $icomoon-location4;
  }
}
.icomoon-tag {
  &:before {
    content: $icomoon-tag;
  }
}
.icomoon-phone2 {
  &:before {
    content: $icomoon-phone2;
  }
}
.icomoon-star2 {
  &:before {
    content: $icomoon-star2;
  }
}
.icomoon-pointer {
  &:before {
    content: $icomoon-pointer;
  }
}
.icomoon-thumbsup {
  &:before {
    content: $icomoon-thumbsup;
  }
}
.icomoon-thumbsdown {
  &:before {
    content: $icomoon-thumbsdown;
  }
}
.icomoon-headphones2 {
  &:before {
    content: $icomoon-headphones2;
  }
}
.icomoon-move {
  &:before {
    content: $icomoon-move;
  }
}
.icomoon-checkmark3 {
  &:before {
    content: $icomoon-checkmark3;
  }
}
.icomoon-cancel {
  &:before {
    content: $icomoon-cancel;
  }
}
.icomoon-skype2 {
  &:before {
    content: $icomoon-skype2;
  }
}
.icomoon-gift2 {
  &:before {
    content: $icomoon-gift2;
  }
}
.icomoon-cone {
  &:before {
    content: $icomoon-cone;
  }
}
.icomoon-alarm2 {
  &:before {
    content: $icomoon-alarm2;
  }
}
.icomoon-coffee {
  &:before {
    content: $icomoon-coffee;
  }
}
.icomoon-basket {
  &:before {
    content: $icomoon-basket;
  }
}
.icomoon-flag2 {
  &:before {
    content: $icomoon-flag2;
  }
}
.icomoon-ipod {
  &:before {
    content: $icomoon-ipod;
  }
}
.icomoon-trashcan {
  &:before {
    content: $icomoon-trashcan;
  }
}
.icomoon-bolt {
  &:before {
    content: $icomoon-bolt;
  }
}
.icomoon-ampersand {
  &:before {
    content: $icomoon-ampersand;
  }
}
.icomoon-compass3 {
  &:before {
    content: $icomoon-compass3;
  }
}
.icomoon-list3 {
  &:before {
    content: $icomoon-list3;
  }
}
.icomoon-grid {
  &:before {
    content: $icomoon-grid;
  }
}
.icomoon-volume {
  &:before {
    content: $icomoon-volume;
  }
}
.icomoon-volume2 {
  &:before {
    content: $icomoon-volume2;
  }
}
.icomoon-stats {
  &:before {
    content: $icomoon-stats;
  }
}
.icomoon-target3 {
  &:before {
    content: $icomoon-target3;
  }
}
.icomoon-forward4 {
  &:before {
    content: $icomoon-forward4;
  }
}
.icomoon-paperclip {
  &:before {
    content: $icomoon-paperclip;
  }
}
.icomoon-keyboard2 {
  &:before {
    content: $icomoon-keyboard2;
  }
}
.icomoon-crop2 {
  &:before {
    content: $icomoon-crop2;
  }
}
.icomoon-floppy {
  &:before {
    content: $icomoon-floppy;
  }
}
.icomoon-filter2 {
  &:before {
    content: $icomoon-filter2;
  }
}
.icomoon-trophy2 {
  &:before {
    content: $icomoon-trophy2;
  }
}
.icomoon-diary {
  &:before {
    content: $icomoon-diary;
  }
}
.icomoon-addressbook {
  &:before {
    content: $icomoon-addressbook;
  }
}
.icomoon-stop3 {
  &:before {
    content: $icomoon-stop3;
  }
}
.icomoon-smiley {
  &:before {
    content: $icomoon-smiley;
  }
}
.icomoon-shit {
  &:before {
    content: $icomoon-shit;
  }
}
.icomoon-bookmark3 {
  &:before {
    content: $icomoon-bookmark3;
  }
}
.icomoon-camera3 {
  &:before {
    content: $icomoon-camera3;
  }
}
.icomoon-lamp {
  &:before {
    content: $icomoon-lamp;
  }
}
.icomoon-disk {
  &:before {
    content: $icomoon-disk;
  }
}
.icomoon-button {
  &:before {
    content: $icomoon-button;
  }
}
.icomoon-database2 {
  &:before {
    content: $icomoon-database2;
  }
}
.icomoon-creditcard {
  &:before {
    content: $icomoon-creditcard;
  }
}
.icomoon-atom {
  &:before {
    content: $icomoon-atom;
  }
}
.icomoon-winsows {
  &:before {
    content: $icomoon-winsows;
  }
}
.icomoon-target4 {
  &:before {
    content: $icomoon-target4;
  }
}
.icomoon-battery {
  &:before {
    content: $icomoon-battery;
  }
}
.icomoon-code {
  &:before {
    content: $icomoon-code;
  }
}
