body {
	padding-top: 50px;
}
#docs-header,
#docs-footer{
	background: url("../images/t-em-docs-grid.png");
	margin-bottom: 50px;
	position: relative;
	box-shadow: 5px 5px 30px #404040;
	color: #eee;
	text-shadow: 1px 1px 1px #000;
}
#docs-header:after,
#docs-footer:after{
	background: #1a1a1a;
	background-image: -moz-linear-gradient( 90deg, #1a1a1a, #333, #1a1a1a );
	background-image: -ms-linear-gradient( 90deg, #1a1a1a, #333, #1a1a1a );
	background-image: -webkit-linear-gradient( 90deg, #1a1a1a, #333, #1a1a1a );
	background-image: -o-linear-gradient( 90deg, #1a1a1a, #333, #1a1a1a );
	background-image: linear-gradient( 90deg, #1a1a1a, #333, #1a1a1a );
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	content: "";
}
#docs-header .lead{
	color: #Cf3439;
}
.docs-template {
	padding: 40px 0;
} 
.docs-sidebar{
	width: 250px;
	background-color: #f5f5f5;
}
.nav-docs h4{
	margin-left: 15px;
}
.nav-docs .active > a{
	border-right: solid 3px #Cf3439;
	font-weight: bold;
	color: #Cf3439;
}
.docs-sidebar .nav > .active > ul{
	display: block;
}
.docs-sidebar .nav .nav{
	padding-left: 15px;
	display: none;
}
.docs-sidebar.affix-top {
	position: static !important;
}
.docs-sidebar.affix {
	position: fixed;
	top: 55px;
}
.license{
	font-family: "Courier New",monospace;
/*
	width: 500px;
*/
}
#docs-content h1[id],
#docs-content h3[id],
#docs-content h4[id]{
	margin-top: -45px;
	padding-top: 80px;
}
#docs-footer{
	margin: 100px 0 0 0;
}
#docs-footer h2{
	margin-bottom: 20px;
}
