/**
 * Slider Style
 */
#t-em-slider{
	margin-bottom: 0;
}
#t-em-slider .wrapper{
	padding: 0;
}
.carousel-caption{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.carousel-caption a:hover{
	text-decoration: none !important;
	border-bottom: 1px dotted;
}
.carousel-caption .entry-title{
	line-height: 1.3;
}
.carousel-drivers{
	position: relative;
	padding: 3px 1%;
	overflow: hidden;
}
.carousel-indicators{
	left: 1%;
	right: 25% !important;
	top: 10px !important;
}
.carousel-indicators li{
	cursor: pointer;
}
.carousel-direction{
	font-size: 20px;
	cursor: pointer;
}
.slider-text-left .carousel-caption{
	width: 37%;
	left: 0;
	top: 0;
}
.slider-text-right .carousel-caption{
	width: 37%;
	right: 0;
	left: auto;
	top: 0;
}
/* =Media Queries
-------------------------------------------------------------- */
/* Tablet portrait */
@media (max-width: 979px) {
	.slider-text-left .carousel-caption,
	.slider-text-right .carousel-caption{
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.carousel-caption{
		padding: 0 5px;
	}
	.carousel-caption .entry-title{
		font-size: 17.5px;
		line-height: 5px;
	}
	.carousel-caption a{
		line-height: 1;
	}
}
