/**
 * JQuery Cycle style sheet
 */
#slider{}
#slider-content{
	clear: both;
}
#slider-wrapper{
	list-style: none;
	margin: 20px 0;
	width: 100% !important;
	overflow: hidden;
}
#slider-wrapper li{
	width: 100% !important;
}
#slider-wrapper article{
	margin: 0;
}
.slider-post figcaption{
	display: none;
}
.slider-post .entry-title{
	font-size: 2em;
	line-height: 1.2em;
}
.slider-post p{
	margin-top: 20px !important;
}

/**
 * Slider layout thumbnail left
 */
.slider-thumbnail-left .slider-image{
	float: left;
}
.slider-thumbnail-left .slider-sumary{
	float: right;
}
.slider-thumbnail-left .slider-sumary .entry-title,
.slider-thumbnail-left .slider-sumary p{
	margin: 0 0 0 8%;
}

/**
 * Slider layout thumbnail right
 */
.slider-thumbnail-right .slider-image{
	float: right;
	margin-right: 20px;
}
.slider-thumbnail-right .slider-sumary{
	float: left;
	margin-right: -20px;
}
.slider-thumbnail-right .slider-sumary .entry-title,
.slider-thumbnail-right .slider-sumary p{
	margin: 0 8% 0 0;
}

/**
 * Slider lay output thumbnail full
 */
.slider-thumbnail-full{
	position: relative;
}
.slider-thumbnail-full .slider-image img{
	display: block;
	margin: 0 auto;
}
.slider-thumbnail-full .slider-sumary{
	background: #000;
	bottom: 0;
	position: absolute;
	opacity: .5;
}
