/**
 * Twenty'em LESS CSS
 */

/* Define theme colors */
@light-blue:		#21759b;
@light-red:			#d54e21;
@base-gray:			#f7f7f7; /* Default background theme color */
@light-gray:		#757575;
@dark-gray:			#515151;

@a_link:	@light-blue;
@a_visited:	@light-blue;
@a_hover:	@light-red;
@a_active:	@light-red;

/* Define borders radius */
.border-radius ( @radius: 5px ){
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

/* Define box shadows */
.box-shadow ( @x: 0, @y: 0, @blur: 1px, @color: #000 ){
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}


/* =Global Elements
-------------------------------------------------------------- */
/* Links */
a{
	color: @a_link;
}
a:hover{
	color: @a_hover;
}
#site-title a:hover{
	color: @dark-gray;
}
pre{
	background: @base-gray;
	color: darken( @dark-gray, 10% );
	.border-radius;
}


/* =Menus
-------------------------------------------------------------- */
#nav-menu ul li.current_page_item > a,
#nav-menu ul li.current-menu-ancestor > a,
#nav-menu ul li.current-menu-item > a,
#nav-menu ul li.current-menu-parent > a {
	color: @a_hover;
}
* html #nav-menu ul li.current_page_item a,
* html #nav-menu ul li.current-menu-ancestor a,
* html #nav-menu ul li.current-menu-item a,
* html #nav-menu ul li.current-menu-parent a,
* html #nav-menu ul li a:hover {
	color: @a_hover;
}
.ie6 nav ul li.current_page_item a,
.ie6 nav ul li.current-menu-ancestor a,
.ie6 nav ul li.current-menu-item a,
.ie6 nav ul li.current-menu-parent a,
.ie6 nav ul li a:hover {
	color: @a_hover;
}
#site-navigation ul li.current_page_item > a,
#site-navigation ul li.current-menu-ancestor > a,
#site-navigation ul li.current-menu-item > a,
#site-navigation ul li.current-menu-parent > a {
	color: @a_hover;
}
nav ul li.current_page_item > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
	color: @a_hover;
}
* html #site-navigation ul li.current_page_item a,
* html #site-navigation ul li.current-menu-ancestor a,
* html #site-navigation ul li.current-menu-item a,
* html #site-navigation ul li.current-menu-parent a,
* html #site-navigation ul li a:hover {
	color: @a_hover;
}

#site-navigation{
	border-top: solid 1px @base-gray;
	border-bottom: solid 1px @base-gray;
}
.screen-menu{
	background: @base-gray;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, lighten( @light-gray, 50% ), @base-gray);
	background-image: -ms-linear-gradient(top, lighten( @light-gray, 50% ), @base-gray);
	background-image: -webkit-linear-gradient(top, lighten( @light-gray, 50% ), @base-gray);
	background-image: -o-linear-gradient(top, lighten( @light-gray, 50% ), @base-gray);
	background-image: linear-gradient(top, lighten( @light-gray, 50% ), @base-gray);
}

/* =Headers Tags
-------------------------------------------------------------- */
.entry-meta,
.entry-utility{
	color: @light-gray;
}
.page-title,
.entry-title,
.widget-title{
	color: @dark-gray;
}
.widget-title{
	border-bottom: solid 1px darken( @base-gray, 10% );
	padding: 0 0 15px;
	font-size: 1.3em;
}

/* =Content
-------------------------------------------------------------- */
#entry-author-info,
#category-description{
	background: @base-gray;
	border: solid 1px lighten( @dark-gray, 50% );
	.border-radius;
}
#author-avatar img{
	border: solid 1px lighten( @dark-gray, 50% );
	.box-shadow ( 0, 1px, 4px, darken( @base-gray, 10% ) );
	.border-radius;
}
.home .sticky {
	background: @base-gray;
	border-top: 4px solid @dark-gray;
	padding: 2% 3%;
	.border-radius ( 3px );
}

/* =Forms
-------------------------------------------------------------- */
#searchform{
	border: solid 1px lighten( @dark-gray, 50% );
	.border-radius ( 3px );
	width: 99%;
	position: relative;
}
#searchform #s{
	color: @dark-gray;
	width: 85%;
	margin: 0;
	padding: 8px;
	border: none;
}
#searchform input.submit{
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 8px;
}
#content input[type="text"],
#content input[type="email"],
#content input[type="url"],
#content textarea,
#content select {
	background: @base-gray;
	color: @light-gray;
	border: 1px solid lighten( @dark-gray, 50% );
	.border-radius;
}
#content .required{
	color: @light-red;
}
#content input[type="text"]:focus,
#content input[type="email"]:focus,
#content input[type="url"]:focus,
#content textarea:focus{
	border: 1px solid @light-blue;
	.box-shadow ( 0, 0, 2px, @light-blue );
}
#content .form-submit input,
#content .contact-submit input{
	background: @light-blue;
	background-image: linear-gradient(top, @light-blue, darken( @light-blue, 10% ) );
	background-image: -moz-linear-gradient(top, @light-blue, darken( @light-blue, 10% ) );
	background-image: -ms-linear-gradient(top, @light-blue, darken( @light-blue, 10% ) );
	background-image: -webkit-linear-gradient(top, @light-blue, darken( @light-blue, 10% ) );
	background-image: -o-linear-gradient(top, @light-blue, darken( @light-blue, 10% ) );
	.box-shadow ( 0, 0, 1px, @light-blue );
	.border-radius ( 3px );
}
#content .form-submit input:active{
	background-image: linear-gradient(top, darken( @light-blue, 10% ), @light-blue );
	background-image: -moz-linear-gradient(top, darken( @light-blue, 10% ), @light-blue );
	background-image: -ms-linear-gradient(top, darken( @light-blue, 10% ), @light-blue );
	background-image: -webkit-linear-gradient(top, darken( @light-blue, 10% ), @light-blue );
	background-image: -o-linear-gradient(top, darken( @light-blue, 10% ), @light-blue );
}


/* =Images
-------------------------------------------------------------- */
#content figure img,
.entry-content img,
.comment-author img,
.slider-thumbnail img,
.widget img,
.author-avatar img{
	.border-radius ( 3px );
	.box-shadow ( 0, 1px, 4px, darken( @base-gray, 10% ) );
}

/* =Footer
-------------------------------------------------------------- */
#footer-widget-area,
#site-info{
	border-top: solid 1px darken( @base-gray, 10% );
}


/* Maximum width of 480 pixels. */
@media screen and (max-width: 480px){


}
