/**
 * Style for Recent Posts Widget
 */
.t-em-recent-post-wrapper{
	display: inline-block;
	margin-top: 10px !important;
}
.t-em-recent-post-title{
	font-weight: bold;
}
.t-em-recent-post-thumbnail{
	float: left;
	margin-right: 2.5641%;
}
.t-em-recent-post-thumbnail img{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px #dedede;
	-moz-box-shadow: 0 1px 4px #dedede;
	box-shadow: 0 1px 4px #dedede;
}
.t-em-recent-post-thumbnail figcaption{
	display: none;
}
.t-em-recent-post-thumbnail + .t-em-recent-post-content{
	margin-left: 110px;
}
