/*
Skin Name: Nivo Slider Twenty´em Theme
Skin URI: http://twenty-em.com
Description: The Twenty´em skin for the Nivo Slider.
Version: 1.0
Author: RogerTM
Author URI: http://blog.rogertm.com
Supports Thumbs: true
*/

.theme-t-em .nivoSlider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	overflow: visible;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.theme-t-em .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-t-em .nivoSlider a {
	border:0;
	display:block;
}

.theme-t-em .nivo-controlNav {
	padding: 5px 0 5px 3px;
	z-index: 10;
	bottom: 0;
	width: 100%;
}
.theme-t-em .nivo-controlNav a {
	background: #fff;
	margin: 0 2px;
	text-align: center;
	display:inline-block;
	width:20px;
	border:0;
	border-radius: 2px;
}
.theme-t-em .nivo-directionNav{
	font-size: 2em;
}
.theme-t-em .nivo-directionNav a {
	display:block;
	width:auto;
	height:auto;
	border:0;
	text-decoration: none;
	color: #fff;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.theme-t-em:hover .nivo-directionNav a {
	opacity: 1;
}
.theme-t-em a.nivo-nextNav {
	right:2%;
}
.theme-t-em a.nivo-prevNav {
	left: 2%;
}

.theme-t-em .nivo-caption {
	opacity: 1;
	background-color: rgba( 0, 0, 0, .5 );
	left: 20%;
	right: 20%;
	bottom: 20px;
	width: auto;
	padding: 10px 20px 40px;
}
.theme-t-em .nivo-caption a {
	color:#fff;
	text-decoration: none;
	line-height: 30px;
}
.theme-t-em .nivo-caption a:hover {
	border-bottom: dotted 1px;
}
.theme-t-em .nivo-caption p {
	font-size: 1em;
}
.theme-t-em .nivo-caption .more-link{
	font-size: 12px;
	margin: 0;
}
.theme-t-em .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-t-em .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-t-em .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.theme-t-em .nivo-box{
	z-index: -5;
}

/* =Custom Styles
-------------------------------------------------------------- */
/* Text on Left */
.slider-text-left .theme-t-em .nivo-caption{
	width: 33.3333%;
	left: 0;
	top: 0;
	bottom: 0;
}
.slider-text-left .theme-t-em a.nivo-prevNav{
	left: 35.3333%;
}
/* Text on Right */
.slider-text-right .theme-t-em .nivo-caption{
	width: 33.3333%;
	right: 0;
	left: auto;
	top: 0;
	bottom: 0;
}
.slider-text-right .theme-t-em a.nivo-nextNav{
	left: auto;
	right: 35.3333%;
}
/* =Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
	.theme-t-em .nivo-caption{
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 15px;
	}
	.theme-t-em .nivo-caption p{
		display: none;
	}
	.theme-t-em .nivo-caption a{
		line-height: 20px;
	}
	.slider-text-left .nivo-caption,
	.slider-text-right .nivo-caption{
		top: auto !important;
		width: 100% !important;
		left: 0 !important;
		right: 0 !important;
	}
	.slider-text-left .theme-t-em a.nivo-prevNav{
		left: 2%;
	}
	.slider-text-right .theme-t-em a.nivo-nextNav{
		right: 2%;
	}
}
